@tailwind base;
@tailwind components;
@tailwind utilities;


.card {
    @apply bg-white shadow rounded-md overflow-hidden relative mb-8;
    transition:  .5s ease-out;
}

.card:hover {
    @apply shadow-lg;
    transform: scale(1.03);
}

.card__img {
    @apply w-full object-cover;
    height: 13rem;
}

.card__title {
  @apply  font-bold;
}

.card__author {
    @apply text-sm;
}

.card__title a:hover,.card__author:hover a:hover{
    @apply text-primary;
}


.card__badge {
    @apply absolute top-0 rounded-full bg-gray-600 py-1 px-3  text-xs text-white uppercase ml-3 mt-3;
}

.btn {
    @apply text-xs tracking-wider rounded-full uppercase cursor-pointer font-semibold px-4 py-2; 
}


.nav-link {
    @apply ml-5 mb-2 border-r-4 border-transparent px-6 font-semibold;
}

.nav-link:hover a{
    @apply text-primary;
}

.nav-link__active {
    @apply ml-5  border-primary;
}